:root {
  --Night: #111111;
  --Indigo: #4A0082;
  --Two-Indigo: #570099;
  --white: #fff;
  --black: #0000;
  --footer-background: #111111;
  --background-color: #111111;
  --details-gray:#1E1E1E;
  --hr-color: #353535;
  --text-color: #FBF9FC;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 100%;
  background-color: var(--background-color);
  color: var(--text-color)
}