.headerdescription {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    padding: 18% 15% 0 15%;
  }
  
  .descriptiontitle {
    font-size: 2.5em;
    margin: 0 0 20px 0;
  }
  
  .descriptiontext {
    font-size: 1.4em;
    font-weight: 200;
  }
  